<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教务评分后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/admin.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="assets/js/echarts.min.js"></script>
</head>
<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <div class="am-topbar-brand">
                <a href="javascript:;" class="tpl-logo">
                    <img style="width:60px;height:60px;" src="assets/images/xiaohui.png" alt="">
                </a>
                <label style="color: rgb(50, 197, 210);">教务评分后台管理系统</label>
            </div>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        你好,<span>超级管理员</span>
                    </a>
                </li>
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        退出登录
                    </a>
                </li>

            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="index.html" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="myActivity.html" class="nav-link ">
                            <i class="am-icon-calendar-minus-o"></i>
                            <span>我的活动</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="drawlots.html" class="nav-link ">
                            <i class="am-icon-hand-peace-o"></i>
                            <span>抽签</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="countdown.html" class="nav-link ">
                            <i class="am-icon-clock-o"></i>
                            <span>倒计时</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="../admin/result" class="nav-link ">
                            <i class="am-icon-comments-o"></i>
                            <span>结果通知</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="repassword.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-scope">
                <h2 style="color:#686868;margin-left:10px;">首页</h2>
                <div class="note note-info">
                    <center class="title-text">黑龙江科技大学教务处欢迎您</center>
                    <center>
                        <img src="" />
                    </center>
                    <center>
                        <p>Copyright © 2018黑龙江科技大学</p>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <script src="assets/js/iscroll.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>