<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教务评分后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/template-web.js"></script>

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/iscroll.js"></script>
    <script src="/static/assets/js/app.js"></script>


</head>
<body data-type="index">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img style="width:60px;height:60px;" src="/static/assets/images/xiaohui.png" alt="">
            </a>
            <label style="color: rgb(50, 197, 210);">教务评分后台管理系统</label>
        </div>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    你好,<span>超级管理员</span>
                </a>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" onclick="logout()" href="#">
                    退出登录
                </a>
            </li>

        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="myActivity" class="nav-link ">
                        <i class="am-icon-calendar-minus-o"></i>
                        <span>我的活动</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="rejudge" class="nav-link ">
                        <i class="am-icon-calendar-minus-o"></i>
                        <span>添加优秀教师评委</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="drawlots" class="nav-link ">
                        <i class="am-icon-hand-peace-o"></i>
                        <span>抽签</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="countdown" class="nav-link ">
                        <i class="am-icon-clock-o"></i>
                        <span>倒计时</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="result" class="nav-link ">
                        <i class="am-icon-comments-o"></i>
                        <span>结果通知</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="repassword" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>修改密码</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-scope">
            <h2 style="color:#686868;margin-left:10px;">我的活动</h2>
            <div class="note note-info">
               <a  class="am-btn am-btn-primary" onclick="create()" href="#" style="color: white;margin-left: 40px;"> <span class="am-icon-plus"></span>  新建活动</a>
                <div style="margin-top:50px;display:flex;justify-content: center">
                    <form class="am-forpxm-form-horizontal am-u-md-9" onsubmit="return false">
                        <table class="am-table am-table-bordered am-table-striped am-table-compact" >
                            <thead>
                            <tr>
                                <th>活动名称</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>文件上传结束时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="main">
                            <script type="text/template" id="temp1">
                                {{each datalist}}
                                <tr id='{{$index}}'>
                                    <td>{{$value.name}}</td>
                                    <td>{{$value.startTime}}</td>
                                    <td>{{$value.endTime}}</td>
                                    <td>{{$value.uploadTime}}</td>
                                    <td>
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs" >
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="deleteAc('{{$index}}')"  style="background-color: #fff"><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </script>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--<div style="text-align: center;margin-top:150px;">-->
                    <!--<h3 style="color:rgb(50, 197, 210)">还没有创建活动哦，快去创建一个活动吧！</h3>-->
                    <!--<img style="width:250px;height: 250px;" src="./assets/images/cry.jpg">-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script>

    var datalist = [];
    window.onload = bron;
    function bron() {
        $.ajax({
            url: '../admin/activity_show',
            type: 'GET',
            cache:false,
            ifModified :true,
            success : function(res) {
                var code = res.code;
                if(code==0){
                    datalist = res.data;
                    console.log(datalist)
                    var data={
                        datalist:datalist
                    };
                    var html = template('temp1', data);
                    document.getElementById('main').innerHTML = html;
                }else{
                    alert(res.msg);
                }
            }
        });
    }

</script>
    <script>

        function create() {

            $.ajax({
                type:'POST',
                dataType: "json",
                url:"../admin/create_id",
                cache:false,
                ifModified :true,
                success:function(res){
                    if (res.code == 0) {

                        alert("创建成功");
                        window.location.href="/admin/activity";
                    }else {
                        alert("创建失败");
                    }
                },
                error:function(){
                    alert("删除失败");
                }
            });

        }

        function deleteAc(index){
            var key = parseInt(index);//数组索引
            $.ajax({
                type:'POST',
                dataType: "json",
                url:"../admin/activity_delete",
                data:{
                    index: index
                },
                cache:false,
                ifModified :true,
                success:function(res){
                    if (res.code == 0) {
                        alert("删除成功");
                        datalist.splice(key, 1);//从索引key开始，删 1 个元素
                        var data={
                            datalist:datalist
                        };
                        var html = template('temp1', data);
                        document.getElementById('main').innerHTML = html;
                    }else {
                        alert("删除失败");
                    }
                },
                error:function(){
                    alert("删除失败");
                }
            });
        };



        function logout() {
            $.ajax({
                type:'POST',
                dataType: "json",
                url:"../admin/logout",
                success:function(res){
                    if (res.code == 0) {
                        alert("成功退出");
                        window.location.href="/admin/login";
                    }else {
                        alert("退出登陆失败");
                    }
                },
                error:function(){
                    alert("退出登陆失败");
                }
            });

        }

    </script>
</body>

</html>