<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>教务评分后台管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
    <script src="/static/assets/js/echarts.min.js"></script>
    <script src="/static/assets/js/template-web.js"></script>
</head>
<body data-type="index">
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img style="width:60px;height:60px;" src="/static/assets/images/xiaohui.png" alt="">
            </a>
            <label style="color: rgb(50, 197, 210);">教务评分后台管理系统</label>
        </div>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    你好,<span>超级管理员</span>
                </a>
            </li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" onclick="logout()" href="#">
                    退出登录
                </a>
            </li>

        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed">
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            功能列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="index" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="myActivity" class="nav-link ">
                        <i class="am-icon-calendar-minus-o"></i>
                        <span>我的活动</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="rejudge" class="nav-link ">
                        <i class="am-icon-calendar-minus-o"></i>
                        <span>添加优秀教师评委</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="reDrawlots" class="nav-link ">
                        <i class="am-icon-hand-peace-o"></i>
                        <span>评委分组抽签</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="drawlots" class="nav-link ">
                        <i class="am-icon-hand-peace-o"></i>
                        <span>选手出场顺序抽签</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="countdown" class="nav-link ">
                        <i class="am-icon-clock-o"></i>
                        <span>倒计时</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="result" class="nav-link ">
                        <i class="am-icon-comments-o"></i>
                        <span>结果通知</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="repassword" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>修改密码</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tpl-content-wrapper">
        <div class="tpl-content-scope">
            <h2 style="color:#686868;margin-left:10px;">修改密码</h2>
            <div class="note note-info">
                <div style="margin:20px;border-bottom: #f2f2f2 solid 1px;display: flex;font-size: 18px;color:#32c5d2;font-weight: bold; ">
                    <span class="am-icon-lock"></span>
                    <div style="margin-left:10px;">修改密码</div>
                </div>
                <div style="height:280px;display: flex;flex-direction:column;justify-content: center;align-items: center;font-size: 16px;">

                    <div style="margin-bottom:30px;"><span style="color:#32c5d2;font-weight: bold">原密码：</span><input type="password" id="password" placeholder="请在此处输入原密码"></div>
                    <div style="margin-bottom:30px;"><span style="color:#32c5d2;font-weight: bold">新密码：</span><input type="password" id="repassword1" placeholder="请在此处输入新密码"></div>
                    <div ><span style="color:#32c5d2;font-weight: bold">确认密码：</span><input type="password" id="repassword2" placeholder="请在此处重新输入新密码"></div>
                </div>
               <center> <a style="color:white;margin-right: 20px;" class="am-btn am-btn-primary" onclick="subPas()" href="">确认</a></center>

            </div>

        </div>
    </div>
</div>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/amazeui.min.js"></script>
<script src="/static/assets/js/iscroll.js"></script>
<script src="/static/assets/js/app.js"></script>
</body>
<script>
    function subPas() {
        var pas=$("#password").val();
        var repas1=$("#repassword1").val();
        var repas2=$("#repassword2").val();
        if(repas1!=repas2){
            alert("两次密码不一致~")
        }
        if(repas1==null||repas1==""){
            alert("新密码不能够为空！")
        }
        if(pas==null||pas==""){
            alert("密码不能够为空！")
        }
        console.log(3)
        $.ajax({
            type:'POST',
            dataType: "json",
            url:"../admin/pass_edit",
            data:{
                password:$("#password").val(),
                rePassword:$("#repassword1").val()
            },
            success:function(res){
                if(res.code==0){
                    alert("修改成功")
                 //   window.location.href="/admin/repassword";
                }else {
                    alert(res.msg);
                }
            },
            error:function(){
//            $("#test").html("发生错误:"+jqXHR.status);
                alert("修改失败");
            }
        });
    };


    function logout() {
        $.ajax({
            type:'POST',
            dataType: "json",
            url:"../admin/logout",
            success:function(res){
                if (res.code == 0) {
                    alert("成功退出");
                    window.location.href="/admin/login";
                }else {
                    alert("退出登陆失败");
                }
            },
            error:function(){
                alert("退出登陆失败");
            }
        });

    }

</script>
</html>