server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver

    username: root
    password: kira
    url: jdbc:mysql://127.0.0.1/score?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true


  thymeleaf:
    cache: false # 开发时关闭缓存,不然没法看到实时页面
    mode: LEGACYHTML5 # 用非严格的 HTML
    encoding: UTF-8
    servlet:
      content-type: text/html
  mvc:
    static-path-pattern: /**

  resources:
    static-locations: classpath:/templates/,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/#,classpath:/static/admin/#
