server:
  port: 8080
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver

    username: root
    password: kira
#   url: jdbc:mysql://127.0.0.1/score?characterEncoding=utf-8&useSSL=false
#    password: 123456
    url: jdbc:mysql://localhost:3306/score?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true


  thymeleaf:
    cache: false # 开发时关闭缓存,不然没法看到实时页面
    mode: LEGACYHTML5 # 用非严格的 HTML
    encoding: UTF-8
    servlet:
      content-type: text/html

  servlet:
    multipart:
      max-file-size: 3Mb #限制文件上传大小 Max 3Mb
      max-request-size: 5Mb #一次请求限制大小
      enabled: true
  mvc:
    static-path-pattern: /**

  resources:
    static-locations: classpath:/templates/,classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/#,classpath:/templates/admin/#
